
<h1><%= title %></h1>
<form action="/create" method="post" accept-charset="utf-8">
  <input type="text" name="content" />
</form>

<% todos.forEach( function( todo ){ %>
  <p>
  		<span>
  	      	<a href="/edit/<%= todo._id %>"><%= todo.content %></a>
  	    </span>
  	    <span>
  	      <a href="/destroy/<%= todo._id %>" title="Delete this todo item" class="delete">Delete</a>
  	    </span>
  </p>
<% }); %>

<script type="text/template" id="wineitem_template">
	<li>{{content}} {{updated_at}}</li>
</script>
<ul id="wineCollection"></ul>
<a href="" class="get-collection">get collection</a>